<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a current Programmer at Arisa Health. Some of my duties include:
        </p>
        <ul>
          <li>
            Back end – Created Rest APIs using Spring boot dependencies to connect MySQL with Java. Made SOAP requests with postman in XML to retrieve client data.
          </li>
          <li>
          	Front end – Created client forms users would input PHI related health information using JavaScript/HTML/CSS.
          <li>
            MS/MySQL (RDBMS) – Made updates to Database tables and columns. Wrote queries to pull data to import into company software.
          <li>
            Business Intelligence – Created BI reports to pull client information from MS SQL to efficiently generate organized and visually appealing information saving time for our healthcare teams.
          </li>
          <li>
            Other Tasks - Admin experience with EMR (electronic medical record). Solving tickets for four domains under Arisa Health.
          </li>
        </ul>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Languages: NodeJS, Java, Shell scripting, SQL, NoSQL (MongoDB), HTML, CSS.
    			</li>
          <li>
            Operating systems: Linux/Windows.
          <li>
            Development Tools: Git, GitHub, Docker, Eclipse, Visual Studios, Visual Studio Code, MySQL workbench, and Postman.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
