<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Learning</b>. I'm always excited to be working on new projects and building programs that helps me grow as a developer.
			  </li>
			  <li>
				  <b>Gardening</b>. I love spending time planting and watching things grow. It's enjoyable to watch your effort and care turn into something you can eat.
				  Thats why I created https://plants.fly.dev/ .
			  </li>
			  <li>
				  <b>Working out</b>. I have been consistently working out for the past 5 years and it has made a huge imapct on my physical and mental health. It is a great way
				  for me to decompress and burn energy.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Freetext
    		</li>
  			<li>
				Freetext
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Freetext
  			</li>
  			<li>
				Freetext
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
