<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Learning</b>. I'm always excited to be working on new projects and building programs that helps me grow as a developer.
			  </li>
			  <li>
				  <b>Gardening</b>. I love spending time planting and watching things grow. It's enjoyable to watch your effort and care turn into something you can eat.
				  Thats why I created <a href="https://plants.fly.dev/" target="_blank">Visit the Perennial Pairs Website</a>.
			  </li>
			  <li>
				  <b>Working out</b>. I have been consistently working out for the past 5 years and it has made a huge impact on my physical and mental health. It is a great way
				  for me to decompress and burn energy.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Perennial Pairs - This express app is built for users who may be looking to learn how to grow a plant or take care of one. 
				On the front-end I have a user enter a Plant they would like to receive information on, and then take that query parameter to send a post request to the plant-API and redirect a user to the results page with the information retrieved from the API. 
				The information displayed back will display the searched plant image, and teach them how to water, how much sunlight it will need, and how to prune the plant. 
				Each search is then stored in my MongoDB and it keeps track of how many times a certain plant has been searched.
				Tech stack: Front-end- EJS, HTML, CSS, Bootstrap Back-end- JavaScript, Express, Node, MongoDb
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Freetext
  			</li>
  			<li>
				Freetext
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
